<ul>
  <li><a  routerLink="students"> Students</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a  routerLink="/"> Home</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a  routerLink="ex"> Exercise</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a  routerLink="form">MyForm</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a  routerLink="rform">Reactive Form</a></li>
</ul>
<router-outlet></router-outlet>
